html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #eee2d9;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

#input {
	background-color: #c4d4e9;
	padding-bottom: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#chat {
	background-color: #eed9e7;
	margin-bottom: 60px;
	max-width: 400px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	overflow-x: hidden;
	scroll-snap-align: end;
}

@keyframes messageAppear {
	0% {
        transform: translate(-100%, 0);
		background-color: #c4e7e9;
		padding: 10px;
		width: 100%;
	}

	50% {
		background-color: #e9c4d8;
		padding: 10px;
		width: 80%;
	}

	80% {
		background-color: #e9c4d896;
		padding: 10px;
		width: 80%;
	}

	100% {
		transform: translate(0, 0);
	}
}


#chat>p {
	animation: messageAppear 800ms linear 0s 1 forwards;
}